ac-comphist.dat
el-get/
projectile-bookmarks.eld
transient/
recentf
/auto-save-list/
site-local
/history
/elpy/
elpa/
network-security.data
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/eclipse.jdt.ls/
/workspace/
/eshell/
/url/
